$cubo-tam: 400px;

.cuboFundo {
	background-image: url('/assets/cubo.png');
	display: inline-block;
	z-index: -1;
	position: absolute;
	left: 80px;
	top: 120px;
	background-size: $cubo-tam $cubo-tam;
	width: $cubo-tam;
	height: $cubo-tam;
	opacity: .04;
}

.gira {
	animation-name: gira;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@keyframes gira {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
