.naoCarregado {
	text-align: center;
	font-size: 14pt;
	margin-top: 80px;
	font-weight: bold;
	color: #999;

	a {
		color: #426d76;
	}
	& > div {
		margin: 10px;
	}
}

.conteudoNormal {
	margin: 20px 10px 10px 38px;
}
