$cor-fundo: #e9f3f1;
$borda-verde: 1px solid #aaba75;

.wrap {
	.topoFlex {
		display: flex;

		.clicavel, .atual, .filler {
			display: inline-block;
			padding: 8px 12px;
		}

		.atual {
			border: $borda-verde;
			border-bottom: 1px solid white;
			background-color: white;
		}

		.clicavel {
			cursor: pointer;
			border: 1px solid $cor-fundo;
			border-bottom: $borda-verde;
			background-color: $cor-fundo;

			&:hover {
				background-color: #d2e6e2;
				border: 1px solid #d2e6e2;
				border-bottom: $borda-verde;
			}
		}

		.filler {
			flex-grow: 1;
			border: 1px solid $cor-fundo;
			border-bottom: $borda-verde;
		}
	}

	.conteudo {
		border: $borda-verde;
		border-top: 0;
		background-color: white;
		padding: 10px;
		min-width: 400px;
		min-height: 100px;
	}
}
