@import '@src/variaveis';

.wrap {
	.topoFlex {
		display: flex;

		.atual, .naoAtual { // todas as abas
			display: inline-block;
			color: $cor-fonte-menu;
			padding: 8px 12px;
			user-select: none;
			transform: translateY(1px);
		}

		.atual { // aba atualmente selecionada
			border-left: $borda-verde;
			border-top: $borda-verde;
			border-right: $borda-verde;
			background-color: white;
		}
		.naoAtual { // todas as outras abas não selecionadas
			cursor: pointer;
			border: 1px solid $cor-fundo-pagina;
			border-bottom: $borda-verde;
			background-color: $cor-fundo-pagina;
			&:hover {
				background-color: #d2e6e2;
				border: 1px solid #d2e6e2;
				border-bottom: $borda-verde;
			}
		}
	}

	.conteudo {
		border: $borda-verde;
		background-color: white;
		padding: 10px;
		min-width: 400px;
		min-height: 100px;
	}
}
