@import '@src/variaveis';

.wrap {
	.topoFlex {
		display: flex;

		.clicavel, .atual, .filler {
			display: inline-block;
			color: $cor-fonte-menu;
			padding: 8px 12px;
			user-select: none;
			border-top-left-radius: 6px;
			border-top-right-radius: 6px;
		}

		.atual { // aba atualmente selecionada
			border: $borda-verde;
			border-bottom: 1px solid white;
			background-color: white;
		}
		.clicavel { // todas as outras abas não selecionadas
			cursor: pointer;
			border: 1px solid $cor-fundo-pagina;
			border-bottom: $borda-verde;
			background-color: $cor-fundo-pagina;
			&:hover {
				background-color: #d2e6e2;
				border: 1px solid #d2e6e2;
				border-bottom: $borda-verde;
			}
		}
		.filler { // ocupa o espaço restante das abas do topo
			flex-grow: 1;
			border: 1px solid $cor-fundo-pagina;
			border-bottom: $borda-verde;
		}
	}

	.conteudo {
		border: $borda-verde;
		border-top: 0;
		background-color: white;
		padding: 10px;
		min-width: 400px;
		min-height: 100px;
	}
}
