.menu {
	display: inline-block;
	font-size: 10pt; // override app font
	width: 1160px; // empirically found
	margin: 21px 0 0 36px;
	border: 1px solid #88AEA2;
	border-radius: 7px;
	background-image: linear-gradient(#f7f7f7, #e2e2e2);
	color: #44788d;

	.ul {
		margin: 0;
		padding: 0;
		display: flex;
		flex-direction: row;

		.li {
			list-style-type: none;
			flex-basis: 0;
			flex-grow: 1;
			position: relative; // so nested UL can be relatively positioned
			text-align: center;
			line-height: 19px;
			padding: 8px 0;
			margin: 0;

			.labelFlex {
				display: flex;
				flex-direction: row;
				align-items: center;
				border-right: 1px solid #ccc; // vertical separators between menu items

				.label {
					flex-grow: 1;
					user-select: none;
					text-align: center;
				}
				.arrow {
					flex-basis: auto;
					margin: 0 7px 0 3px;
					opacity: .85;
					font-size: 65%;
				}
			}
		}
		.li:last-child {
			.labelFlex {
				border-right: 0; // last menu item has no separator after it
			}
		}
	}
}
