.carregando {
	padding: 20px;
	font-style: italic;
	opacity: .7;
}

.arvore {
	border: 1px solid #aaba75;
	background-color: white;
	overflow: auto;
	padding: 6px 8px;
	width: 100%; // a ideia é que a caixa da árvore se expanda dentro do elemento pai
	height: 100%;
}
