@import '@src/variaveis';

// Quando a árvore não está ocupando tela inteira.
.normal {
	position: relative; // para position:absolute funcionar dentro
	height: 100%;
}

// Árvore ocupando a tela inteira, e animação.
$borda-tela-inteira: 8px;
$tempo-animacao-tela-inteira: .15s;

@mixin tela-inteira { // estilo final da árvore ocupando a tela inteira
	position: fixed;
	left: $borda-tela-inteira;
	top: $borda-tela-inteira;
	width: calc(100vw - #{$borda-tela-inteira} - 20px);
	height: calc(100vh - #{$borda-tela-inteira} - 20px);
	z-index: 1;
}
.telaInteira { // aplicado quando a árvore irá para tela inteira
	@include tela-inteira; // o estilo final é aplicado antes da animação começar
	animation: expande $tempo-animacao-tela-inteira linear;

	@keyframes expande {
		from { transform: scaleY(0); }
		to   { transform: scaleY(100%); }
	}
}
.encolhendo { // aplicado quando a árvore voltará da tela inteira, depois removido
	@include tela-inteira; // o estilo final é mantido durante a animação
	animation: encolhe $tempo-animacao-tela-inteira linear;

	@keyframes encolhe {
		from { transform: scaleX(100%); }
		to   { transform: scaleY(0); }
	}
}

// Botão que expande/retorna árvore tela inteira.
.btnFullScreen {
	position: absolute;
	left: 0;
	bottom: 0;
	color: $cor-fonte-menu;
	background-color: #fafafa;
	font-weight: bold;
	cursor: pointer;
	font-size: 1.4em;
	border: $borda-verde;
	padding: 0 5px;

	&:hover {
		color: white;
		background-color: $cor-fonte-menu;
	}
}
