$sz: 16px;

.icoET, .icoOR, .icoEN, .icoUA, .icoUC, .icoRE, // RE = unid adm + reg esp
.icoLEID, .icoATOI {
	display: inline-block;
	background-image: url('/assets/sprite-unidade.png');
	width: $sz;
	height: $sz;
}

.icoET { background-position: #{$sz * 0} 0; }
.icoOR { background-position: #{$sz * -1} 0; }
.icoEN { background-position: #{$sz * -2} 0; }
.icoUA { background-position: #{$sz * -3} 0; }
.icoUC { background-position: #{$sz * -4} 0; }
.icoRE { background-position: #{$sz * -5} 0; }

.icoLEID { background-position: #{$sz * -6} 0; }
.icoATOI { background-position: #{$sz * -7} 0; }
