@import '@comum/variaveis';

$padding-vert-nome-unidade: 4px; // ver NoUnidade.scss

.labelFlex {
	display: flex;
	flex-direction: row;
	min-width: 280px; // largura do nome da unidade; força aparecimento da barra de rolagem horizontal

	.icones {
		flex-basis: #{(16px + 2px) * 2}; // espaço para 2 ícones com espaçamento
		flex-grow: 0;
		flex-shrink: 0;
		padding-top: 4px; // empura os ícones um pouco pra baixo, pra alinhar com o nome da unidade
		& > div {
			margin-right: 2px; // espaçamento entre cada ícone
		}
	}
	.nome {
		cursor: pointer;
		padding: $padding-vert-nome-unidade 5px;

		&:hover {
			background-color: #e8e8e8;
		}
	}
	.nomeSel {
		color: white;
		background-color: #47727B;

		&:hover {
			background-color: #47727B;
		}
	}
}
