@import '@comum/variaveis';

.wrap {
	white-space: nowrap;

	.texto {
		color: #707f3f;
		font-style: italic;
		display: inline-block;
		margin-right: 2px;
	}
	.cubo {
		display: inline-block;
		background-image: url('~@assets/favicon.png');
		width: 16px;
		height: 16px;
		animation: vaivem 1s linear infinite;

		$distancia: 24px;

		@keyframes vaivem {
			0%  { transform: translateX(0) rotate(0deg); }
			25% { transform: translateX($distancia) rotate(360deg); }
			50% { transform: translateX($distancia) rotate(360deg); }
			75% { transform: translateX(0) rotate(0deg); }
		}
	}
}
