@import '@src/variaveis';

.wrap {
	white-space: nowrap;

	.texto {
		@include fonte-carregando;
		display: inline-block;
		margin-right: 8px;
	}
	.cubo {
		display: inline-block;
		background-image: url('/assets/favicon.png');
		width: 16px;
		height: 16px;
		animation: loadc 1s linear infinite;
	}
}

@keyframes loadc {
	0%  { transform: translateX(0) rotate(0deg); }
	25% { transform: translateX(26px) rotate(360deg); }
	50% { transform: translateX(26px) rotate(360deg); }
	75% { transform: translateX(0) rotate(0deg); }
}
