@import './variaveis-vert';

.ul {
	position: absolute;
	top: -1px; // relative to parent, because parent LI has "position: relative"
	width: 284px; // empirically found
	margin: 2px;
	padding: 0;
	display: flex;
	flex-direction: column;
	background-color: $cinza-fundo;
	border: $borda-verde;
	border-radius: $borda-radius;
	box-shadow: $shadow;
	visibility: hidden; // toggled by parent LI

	li:hover > &,
	li > &:hover {
		visibility: visible; // note: applied on the parent component LI
	}

	.liTitle {
		list-style-type: none;
		position: relative; // so nested UL can be relatively positioned
		margin: 0;
		padding: 0 12px 1px 0;
		text-align: center;

		.spanTitle {
			user-select: none;
			display: block;
			margin: 0 8px;
			padding: 12px 2px 12px 10px;
		}
	}
}
