@import '@src/variaveis';
@import './variaveis-vert';

.li {
	list-style-type: none;
	position: relative; // so nested UL can be relatively positioned
	margin: 0;
	padding: 0;
	text-align: left;
	cursor: pointer;

	.flexWrap {
		display: flex;
		flex-direction: row;
		user-select: none;
		margin: 0 8px;
		padding: 12px 2px 12px 10px;
		border-bottom: $separador-verde-dotted; // horizontal separator between menu items
		align-items: center;

		.label {
			flex-grow: 1;
			color: $cor-fonte-menu;
			text-decoration: none;
		}
		.arrow {
			flex-basis: auto;
			margin-left: 2px;
			opacity: .85;
			font-size: 80%;
		}
	}

	&:last-child {
		.flexWrap {
			border-bottom: 0; // last menu item has no separator after it
		}
	}
	&:hover {
		background-color: $cinza-hover;
	}
}
