@import '@src/variaveis';
@import './variaveis-vert';

.ul {
	position: absolute;
	z-index: 999; // so it stays over the parent component LIs which are rendered after us
	top: 1px; // relative to parent, because parent LI has "position: relative"
	width: 284px; // empirically found
	left: 268px;
	margin: 2px;
	padding: 0;
	display: flex;
	flex-direction: column;
	background-color: $cinza-fundo;
	border: $borda-verde;
	border-radius: $borda-radius;
	box-shadow: $shadow;
	visibility: hidden; // toggled by parent LI

	li:hover > &,
	li > &:hover {
		visibility: visible; // note: applied on the parent component LI
	}

	.li {
		list-style-type: none;
		position: relative; // so nested UL can be relatively positioned
		margin: 0;
		padding: 0;
		text-align: left;
		cursor: pointer;

		.label {
			user-select: none;
			display: block;
			margin: 0 8px;
			padding: 12px 10px;
			color: $cor-fonte-menu;
			text-decoration: none;
			border-bottom: $separador-verde-dotted; // horizontal separator between menu items
		}
	}
	.li:last-child {
		> span {
			border-bottom: 0; // last menu item has no separator after it
		}
	}
	.li:hover {
		background-color: $cinza-hover;
	}
}
